<!DOCTYPE html>
<html>
<head>
  <title><%= headerText %></title> <!-- Dynamic header title -->
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1><%= headerText %></h1> <!-- Dynamic header text -->
  </header>
  <main>
    <p><%= confirmThankYouText %> <%= firstName %> <%= lastName %>.</p>
    <p><%= confirmOrderProcessedText %> <%= orderDetails.productName %>.</p>
    <p><%= confirmOrderIDText %> <%= orderDetails.orderId %></p>
    <p><%= confirmTotalPriceText %> <%= orderDetails.totalPrice %></p>
    <a href="<%= paymentLink %>"><%= confirmCompletePaymentText %></a>
  </main>
  <footer>
    <p><%- footerText %></p> <!-- Dynamic footer text -->
  </footer>
</body>
</html>